				<form class="px-4 py-3 text-center" [formGroup]="loginForm" (ngSubmit)="login()">
					<div class="mb-3">
						<label for="exampleDropdownFormEmail1">Adresse e-mail</label>
                        <input type="email" class="form-control" formControlName="email" />
                        @if(loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.dirty){
                            <p class="p-2" [ngStyle]="{'color': 'red'}">Email invalide</p>
                        }				
                    </div>
					<div class="mb-3">
						<label for="exampleDropdownFormPassword1">Mot de passe</label>
						<input type="password" class="form-control" formControlName="password" />
						@if(loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.dirty){
							<p class="p-2" [ngStyle]="{'color': 'red'}">Mot de passe invalide</p>
						}
					</div>
					<button type="submit" class="btn btn-primary">se connecter</button>
				</form>